html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
    /*background-color: #4d4d4d;*/
    font-family: 'Montserrat', sans-serif;
}

.wrapper { 
    width: 100%; 
    height: 100%; 
}
.container { 
    width: 100%; 
    height: 50%; 
}

/*
============================================
Header
============================================
*/
.header {
	background-color: #191919;
	text-align: center;
	color: white;
}

.header h5 {
	padding: 5px 5px;
}

.header h5{
	padding: 5px 5px;
}

.welcome {
	text-align: center;
	margin: 40px 0px;
}

.welcome button {
	padding: 15px 25px;
	margin: 70vh 5px;
	color: #222;
	font-size: 20px;
	background-color: #fff;
	border: 1px solid #222;
	border-radius: 5px;
}

.welcome button:hover {
	color: #222;
	border: 1px solid #222;
}

h1 {
	text-shadow: 0px 1px 1px #4d4d4d;
	color: #222; 
	font-size: 180px;
}

.buttons {
	padding: 5px 5px;
	margin: 5px 5px;
	color: #4d4d4d;
}

h3 {
	margin-top: 10px;
	font-size: 34px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: 600px;
}
/*
===========================================
Main
===========================================
*/

.main {
	text-align: center;
	border-top: 2px solid #fff;
}

.center {
	border-left: 2px solid white;
	border-right: 2px solid white;
}

.col {
	padding: 9%;
	background-color: #cccccc;
	color: #4d4d4d;
	font-size: 20px;
}

/*
===========================================
Footer
===========================================
*/

footer {
	background-color: #656565;
	color: white;
	padding: 20px 10px 20px 10px;
}

footer h6 {
	color: #b2b2b2;
}

.background {
	background-image: url('../assets/plug3.png');
	background-size: cover cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
